[Unit]
Description=Minecraft Server

[Service]
WorkingDirectory=/home/minecraft
ExecStart=/usr/bin/java -Xms2048M -Xmx2048M -jar /home/minecraft/minecraft-server/forge-1.12.2-14.23.5.2768-universal.jar nogui

[Install]
WantedBy=multi-user.target